doctype html
html(lang='en')
  head
    title Make a Friend Club
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='')
    meta(name='description', content='')
    // stylesheets css
    link(rel='stylesheet', href='../../../css/bootstrap.min.css')
    link(rel='stylesheet', href='../../../css/font-awesome.min.css')
    link(rel='stylesheet', href='../../../css/login.css')
    link(rel='stylesheet', href='../../../css/index.css')
  body
    .wrapper
      form#signin.form-signin(method='post', action="/request_verification")
        h2.form-signin-heading Request Verification Code
        input.form-control(type='email', name='email', placeholder='Email', required='', autofocus='')
        input.btn.btn.default.form-control(type='submit', value='REQUEST', data-loading-text='requesting....')
        p.pull-right
          a(href='/index') Home Page
      if err
        #login_alerts
          p.alert.alert-danger.text-center #{errMsg}
            a(href='/new_verification') Request Verification Code
      else if msg
        #login_alerts
          p.alert.alert-info.text-center #{msg}
    footer
      .container
        .row
          svg.svgcolor-light(preserveaspectratio='none', viewbox='0 0 100 102', height='100', width='100%', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M0 0 L50 100 L100 0 Z')
          .col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-6.text-center
            h2 Make a Friend Club
            p
              a(href='faq') FAQ
              |  
              a(href='about') About Us
              |  
              a(href='privacy') Privacy Policy
              |  |
              a(href='terms') Terms of Use
              |  |
              a(href='contact') Contact Us
              br
              |           Copyright © 2016 Make a Friend Club
            ul.social-icon
              li
                a.fa.fa-facebook(href='#')
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-behance(href='#')
              li
                a.fa.fa-dribbble(href='#')
          .col-md-3.col-sm-3
    // Back top
    a.go-top(href='#back-top')
      i.fa.fa-angle-up
    // javscript js
    script(src='../../../js/bootstrap.min.js')